<html lang="en">
<head>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css%22%3E">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js%22%3E"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js%22%3E"></script>
</head>

<style>

*,::after,
    ::before {
        box-sizing: border-box;
    }

    img {
        vertical-align: middle;
        border-style: none;
        max-width: 100%;
        height: auto;
    }

    footer {
        background-color:#070D1F;
        color: rgb(232, 230, 227);
        padding: 10px 0px 0px 0px;
        display: block;
        position: fixed;
        left: 0;
        bottom: 0px;
        width: 100%;
    }

</style>
<body>

<footer>
   <center>
   <div class="container">
       <div class="row">
           <div class="col-6 col-md-auto order-1 order-md-1">
               <a class="logo-footer">
                   <img src="../assets/img/logo-logo.png" width="75" height="75"
                       alt="Logo BRT - white">
               </a>
           </div>
           <div class="col order-last order-md-2 text-footer">

               <div class="viewPar BLOBAlignLeft">
                   <p><strong class="userFormat1">PianetaBus</strong> Tutti i diritti riservati<br>
                     Codice fiscale04507990150 - Registro Imprese Milano n. 04507990150<br> 
                    </p>
               </div>
           </div>
       </div>
      </center>
</footer>

</body>
</html>