body {
	margin: 0;
	padding: 0;
}

.background {
	background-image: url("../img/bus-home.jpg");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 230px 0px 180px 0px;
}

.search-field{
	margin-top: 5px;
	margin-bottom: 5px;
	height: 50px;
	width: 160px;
	color:#070D1F;
	background-color: white;
	padding: 10px;
	border: 0px solid black;
	border-radius: .25rem;
	outline:none;
}

.search-btn{
	height:50px;
	width:50px;
	background: #ff7979;
	color: black;
}
.search-btn:hover{
	background:#070D1F;
	cursor:pointer;
}

.form-box{
	background: rgba(0,0,0,0.2);
	padding: 20px;
}

.title{
	font-size: 3vw;
}

.brand{
	height: 3vw;
	
	margin-left: 5px;
	margin-right: 5px;
}